<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h4 class="text-themecolor">Contact Details</h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card"> <img class="card-img" src="https://res.cloudinary.com/ddnqp1gkr/image/upload/v1644863401/AITH/dr-ambedkar-institute-of-technology-for-handicapped-aith-kanpur_eguoeu.png" height="456" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center" style="border-radius: 15px;">
                <div class="align-self-center"> <img src="https://res.cloudinary.com/ddnqp1gkr/image/upload/v1644863527/AITH/download_wlxdnf.png" class="img-circle" width="100">
                    <br>
                    <br>
                    <h4 class="card-title">Placement & Training Cell</h4>
                    <h6 class="card-subtitle">Dr. Ambedkar Institue of Technology for Handicapped
                    <br>Kanpur- 208024
                    <br>Uttar Pradesh, India</h6>
                    <!-- <p class="text-white"> Welcome to Placement and Training cell of AITH Kanpur.  </p>-->
                    <small class="text-muted p-t-30 db">Phone</small>
                    <h6>7275297200</h6>
                    <small class="text-muted p-t-30 db">Placements Relate Queries</small>
                    <h6>pratapabhisheksingh5595@gmail.com</h6>
                    <small class="text-muted p-t-30 db">Placements Portal Relate Queries</small>
                    <h6>pratapabhisheksingh595@gmail.com</h6>
                </div>
            </div>
        </div>
    </div>
</div>
